In [55]:
import uuid
import pandas as pd
import numpy as np
from datetime import datetime

from project_huishoudboekje.database import connect_to_database
from project_huishoudboekje.config import GeneralSettings

In [2]:
df = pd.read_excel(GeneralSettings.project_path / 'data/processed/transactions_test.xlsx')

In [3]:
df.head()

,TRANS_ID,DATE,SOURCE,TRANSACTION_TYPE,FINANCIAL_TYPE,PARTY,AMOUNT,CATEGORY,ANALYSE_IND,GROUP
0,e1d07890-e896-48cb-bebb-618582c050f9,2025-08-11,ASN Bank,-,debet,test2,20.00,Overige aankopen,1,Aankopen
1,572129d3-2d81-4b86-9a17-c34fdcec7584,2025-08-10,ASN Bank,-,credit,test,-10.00,Overige aankopen,1,Aankopen
2,fa393fc6-264a-44bb-ae0f-c2f8d1ab374c,2025-07-31,ASN Bank,OVS,credit,Zalando Payments GmbH - 011113919304-DE3410070...,85.49,Kleding en schoenen,1,Aankopen
3,233372ca-25e1-4a8b-969d-88886b84a16e,2025-07-31,ASN Bank,-,debet,Gezonderwinkelen.nl via MultiSafepay - 1221335...,8.36,Baby artikelen,1,Aankopen
4,2f2575a4-0a35-4109-87c1-6780bf772834,2025-07-31,ASN Bank,EIC,debet,VOGELBESCHERMING NEDERLAND - Europese incasso:...,5.00,Overige goede doelen,1,Giften

In [4]:
datetime.now().timestamp()

1754939150.916451

In [9]:
df['TS_CHANGED'] = datetime.now().timestamp()

In [6]:
cursor, conn = connect_to_database()

In [7]:
df = df[~df.TRANS_ID.duplicated()].copy()

In [10]:
df.rename(
        columns={'GROUP': 'GROUPLEVEL'}).to_sql(name='transactions',
                                             con=conn,
                                             if_exists='append',
                                             index=False)

conn.commit()

### Fill production database

In [2]:
df_2022 = pd.read_excel(GeneralSettings.project_path / 'data/processed/transactions_2022.xlsx')

In [3]:
df_2023 = pd.read_excel(GeneralSettings.project_path / 'data/processed/transactions_2023.xlsx')

In [4]:
df_2024 = pd.read_excel(GeneralSettings.project_path / 'data/processed/transactions_2024.xlsx')

In [5]:
df_2025 = pd.read_excel(GeneralSettings.project_path / 'data/processed/transactions.xlsx')

In [39]:
df_prod = pd.concat([df_2022, df_2023, df_2024, df_2025], ignore_index=True)

In [40]:
df_prod.shape

(5156, 29)

In [41]:
df_prod_keep = df_prod[['TRANS_ID', 'DATE',	'SOURCE', 'TRANSACTION_TYPE', 'FINANCIAL_TYPE', 'PARTY', 'AMOUNT', 'CATEGORY', 'ANALYSE_IND', 'GROUP']].copy()

In [42]:
df_prod_keep.sample(n=5)

,TRANS_ID,DATE,SOURCE,TRANSACTION_TYPE,FINANCIAL_TYPE,PARTY,AMOUNT,CATEGORY,ANALYSE_IND,GROUP
1691,3fe026a2-b9f6-4904-bb16-cea3c6cd6447,2023-09-22,ASN Bank,EIC,debet,Sportcity - sportcity - Membership,11.25,Sportschool,1.0,Leven en entertainment
529,2edfc824-6561-44ca-8b10-95977a9558b0,2022-08-23,Rabobank,sb,credit,Centrale Salarisadministratie - BETALINGSPERIO...,3958.85,Salaris Rob,1.0,Inkomsten
4154,3e114adb-a9ae-4647-9556-f0b287984826,2024-01-12,ASN Bank,IDE,debet,Stichting Open Doors by Buckaroo - pi84s76wz8l...,178.20,Christelijke goede doelen,1.0,Giften
786,daaed1db-5bc0-496a-9850-2ad105daefbd,2022-07-02,Rabobank,-,debet,IKEA Amersfoort AMERSFOORT,11.29,Bruiloft,1.0,Overig
1615,15e46907-4f9c-4aa6-8088-378ecae86414,2023-10-15,ASN Bank,IOS,credit,AAB INZ TIKKIE - Tikkie ID 000724333132,19.89,Uitjes,1.0,Leven en entertainment

In [57]:
df_prod_keep['TRANS_ID'] = df_prod_keep['TRANS_ID'].astype(str).apply(lambda x: uuid.uuid4() if ((x == '') or (x is None) or (x == 'nan')) else x)

In [44]:
df_prod_keep.dtypes

TRANS_ID                    object
DATE                datetime64[ns]
SOURCE                      object
TRANSACTION_TYPE            object
FINANCIAL_TYPE              object
PARTY                       object
AMOUNT                     float64
CATEGORY                    object
ANALYSE_IND                float64
GROUP                       object
dtype: object

In [51]:
df_prod_keep['TS_CHANGED'] = datetime.now().timestamp()

In [46]:
print(df_prod_keep.shape)
print(df_prod_keep[~df_prod_keep.TRANS_ID.duplicated()].shape)

(5156, 11)
(3104, 11)

In [58]:
df_prod_keep[df_prod_keep.TRANS_ID.duplicated()]

,TRANS_ID,DATE,SOURCE,TRANSACTION_TYPE,FINANCIAL_TYPE,PARTY,AMOUNT,CATEGORY,ANALYSE_IND,GROUP,TS_CHANGED
114,4597d02e-72bc-4fcf-9040-6b48276ac5ec,2022-12-01,ASN Bank,EIC,debet,NATIONALE-NEDERLANDEN VERZEKEREN - INCASSO ZEK...,14.74,Opstalverzekering,1.0,Verzekeringen,1.755328e+09
157,c0dc4c60-0f71-4850-99dc-d005b095f6ed,2022-11-23,ASN Bank,OVS,credit,Centrale Salarisadministratie - BETALINGSPERIO...,50.00,Thuiswerkvergoeding,1.0,Inkomsten,1.755328e+09
223,cf202032-b639-4d89-88b4-f6988e3993a7,2022-11-04,ASN Bank,EIC,debet,NATIONALE-NEDERLANDEN VERZEKEREN - INCASSO ZEK...,14.74,Opstalverzekering,1.0,Verzekeringen,1.755328e+09
348,20e2b25e-fc08-4b94-b2c8-257b3520fdc8,2022-10-03,Rabobank,ei,debet,NATIONALE-NEDERLANDEN VERZEKEREN - INCASSO ZEK...,14.74,Opstalverzekering,1.0,Verzekeringen,1.755328e+09
402,3729a34f-a7e2-48e3-af3d-4dd3a58a6a23,2022-09-23,Rabobank,sb,credit,Centrale Salarisadministratie - BETALINGSPERIO...,3958.85,Salaris Rob,1.0,Inkomsten,1.755328e+09
486,6c4a4fc4-6426-4837-9372-7987ffe61584,2022-09-01,Rabobank,ei,debet,NATIONALE-NEDERLANDEN VERZEKEREN - INCASSO ZEK...,14.74,Opstalverzekering,1.0,Verzekeringen,1.755328e+09
1600,b741a02c-f7b5-4156-8f05-75db0cd4fd87,2023-10-23,ASN Bank,OVS,credit,Centrale Salarisadministratie - BETALINGSPERIO...,50.00,Thuiswerkvergoeding,1.0,Inkomsten,1.755328e+09
1655,33bf1f38-1a0e-4c97-8c6a-8840d127340c,2023-10-02,Rabobank,ei,debet,InShared Nederland B.V. - Factuur 2023/09 nr.,6.09,Inboedelverzekering,1.0,Verzekeringen,1.755328e+09
1696,4acd8f06-e2e8-4016-a8c2-0929432dfe5d,2023-09-22,ASN Bank,OVS,credit,Centrale Salarisadministratie - BETALINGSPERIO...,4277.62,Salaris,1.0,Inkomsten,1.755328e+09
1760,011f5fd8-a3f3-4063-a9e0-0a88c5fd7252,2023-09-01,Rabobank,ei,debet,InShared Nederland B.V. - Factuur 2023/08 nr.,6.09,Inboedelverzekering,1.0,Verzekeringen,1.755328e+09
1805,74848ad8-bc07-4609-9c75-07f3ddcf4a1e,2023-08-23,ASN Bank,OVS,credit,Centrale Salarisadministratie - BETALINGSPERIO...,50.00,Thuiswerkvergoeding,1.0,Inkomsten,1.755328e+09
1941,ebb16fa7-2d75-40e5-bad6-a0a236c912bf,2023-07-21,ASN Bank,OVS,credit,Centrale Salarisadministratie - BETALINGSPERIO...,50.00,Thuiswerkvergoeding,1.0,Inkomsten,1.755328e+09
2047,ab5232b8-e82f-4709-936e-1771db680093,2023-06-23,ASN Bank,OVS,credit,Centrale Salarisadministratie - BETALINGSPERIO...,50.00,Thuiswerkvergoeding,1.0,Inkomsten,1.755328e+09
2101,fcfcfee5-016a-4aef-8d72-c779336dee83,2023-06-07,ASN Bank,EIC,debet,KPN B.V. - Factuur 04-06-2023 incl.,54.00,Internet en TV,1.0,Leven en entertainment,1.755328e+09
2162,7e5b2f45-591f-4704-a1a8-c9bbba168036,2023-05-23,ASN Bank,OVS,credit,Centrale Salarisadministratie - BETALINGSPERIO...,4277.62,Salaris,1.0,Inkomsten,1.755328e+09
2226,c7697f51-6e6e-4ab7-b241-e87ee043b4a1,2023-05-09,ASN Bank,EIC,debet,KPN B.V. - Factuur 04-05-2023 incl.,14.99,Spotify,1.0,Leven en entertainment,1.755328e+09
2433,5d2b8a57-69fd-4428-a2f7-25477cf2ca3f,2023-03-08,ASN Bank,EIC,debet,KPN B.V. - Factuur 04-03-2023 incl.,54.00,Internet en TV,1.0,Leven en entertainment,1.755328e+09
2483,c261c7df-ac7d-4528-b2cd-534b787b02e7,2023-02-23,ASN Bank,OVS,credit,Centrale Salarisadministratie - BETALINGSPERIO...,50.00,Thuiswerkvergoeding,1.0,Inkomsten,1.755328e+09
2548,b2299a16-8d0b-4447-95a4-cc75e15678f7,2023-02-02,ASN Bank,EIC,debet,NATIONALE-NED SCHADEVERZ MIJNV - Woonverzekeri...,7.12,Inboedelverzekering,1.0,Verzekeringen,1.755328e+09
2604,fe2005e8-d222-4f55-9f32-2de29497b781,2023-01-15,Rabobank,cc,debet,Overboeking naar creditcard - IBAN-Creditcard ...,500.00,Niet-gecategoriseerd,0.0,NaN,1.755328e+09
2605,e6071cc0-8eb4-4c1e-99c2-7052dd051f97,2023-01-15,Rabobank,tb,credit,R.H. Schuitemaker eo A.M. Borneman - van: Vaka...,2500.00,Niet-gecategoriseerd,0.0,NaN,1.755328e+09
2607,77a0b3df-0817-4d07-a171-6ea2f99d3a36,2023-01-15,Rabobank,id,debet,Trip.com International Travel Germa - 6ZQ12ZY ...,990.68,"Vakantie, weekend weg",1.0,Leven en entertainment,1.755328e+09
2608,971e81fc-ae82-4534-ae19-ddfe47411ce2,2023-01-15,Rabobank,cb,credit,M.T. Borneman - Videoland,4.50,Videoland,1.0,Leven en entertainment,1.755328e+09
2613,8119555c-18b1-4387-8ac0-92c191d613fb,2023-01-14,Rabobank,cb,credit,AAB INZ TIKKIE - Tikkie cb-3xgY9Dapw1pAMfn4Q18rDt,2.50,Boodschappen (food),1.0,Aankopen,1.755328e+09
2617,39396a27-4fd2-4332-b365-c047d51c8561,2023-01-13,Rabobank,ei,debet,ANWB B.V. - ARNL3341738692 Betreft contributie...,9.15,Autoverzekering,1.0,Verzekeringen,1.755328e+09
2628,414a4d07-fdc5-413a-bf62-ef3fc39c9795,2023-01-09,ASN Bank,EIC,debet,KPN B.V. - Factuur 04-01-2023 incl.,54.00,Internet en TV,1.0,Leven en entertainment,1.755328e+09
2642,1fdbb143-c690-4ceb-a135-9e0bf1ac5080,2023-01-04,Rabobank,bg,debet,Glasservice de Kok - Factuurnummer: 20230003. ...,1037.95,Onderhoud woning,1.0,Woning,1.755328e+09
2645,ffcffc79-892e-4d04-9c3d-335f878a495c,2023-01-03,Rabobank,db,debet,Kosten - (Extra) Rabo Wereldpas,0.75,Betaalpakket,1.0,Overig,1.755328e+09
2647,7376b553-f4ee-4294-a343-31ed4336e395,2023-01-03,Rabobank,db,debet,Kosten - Rabo BasisPakket Periode,3.70,Betaalpakket,1.0,Overig,1.755328e+09
2648,5f5adb1e-0124-4200-a31f-5477bfa2d4a6,2023-01-03,Rabobank,db,debet,Kosten - Stortingsapparaat (eigen storting),2.25,Betaalpakket,1.0,Overig,1.755328e+09
5149,c7aa0ac6-58f3-45d1-aee6-9040c369f9d7,2025-01-02,ASN Bank,EIC,debet,OHRA Schadeverzekeringen - Europese incasso: N...,5.43,Aansprakelijkheidsverzekering,1.0,Verzekeringen,1.755328e+09

In [28]:
df_prod_keep[df_prod_keep.TRANS_ID == '3729a34f-a7e2-48e3-af3d-4dd3a58a6a23']

,TRANS_ID,DATE,SOURCE,TRANSACTION_TYPE,FINANCIAL_TYPE,PARTY,AMOUNT,CATEGORY,ANALYSE_IND,GROUP,TS_CHANGED
401,3729a34f-a7e2-48e3-af3d-4dd3a58a6a23,2022-09-23,Rabobank,sb,credit,Centrale Salarisadministratie - BETALINGSPERIO...,50.00,Thuiswerkvergoeding,1.0,Inkomsten,1.755327e+09
402,3729a34f-a7e2-48e3-af3d-4dd3a58a6a23,2022-09-23,Rabobank,sb,credit,Centrale Salarisadministratie - BETALINGSPERIO...,3958.85,Salaris Rob,1.0,Inkomsten,1.755327e+09

In [59]:
df_prod_keep.iloc[4971, 0]

UUID('9eb45bec-1b73-4eec-81dc-08ddf9437728')

In [60]:
cursor, conn = connect_to_database()

In [63]:
df_prod_keep.rename(
        columns={'GROUP': 'GROUPLEVEL'}).astype({'TRANS_ID': str}).to_sql(name='transactions',
                                             con=conn,
                                             if_exists='append',
                                             index=False)

conn.commit()

In [64]:
cursor.close()
conn.close()