In [1]:
from project_huishoudboekje.database import read_sql_table_budget, connect_to_database

from project_huishoudboekje.config import GeneralSettings

import pandas as pd

In [2]:
df = read_sql_table_budget()

Tables created successfully.

In [3]:
df.head()

Empty DataFrame
Columns: [GROUP, CATEGORY, YEAR_MONTH, BUDGET]
Index: []

In [4]:
cursor, conn = connect_to_database()

Tables created successfully.

In [37]:
df_2022 = pd.read_excel(GeneralSettings.project_path / 'data/budget2024.xlsx')

In [38]:
df_2022['source_file'] = str(GeneralSettings.project_path / 'data/budget2024.xlsx')
df_2022['id'] = df_2022['GROUP'] + '_' + df_2022['CATEGORY'] + '_' + df_2022['YEAR_MONTH']

In [39]:
df_2022.rename(columns={'GROUP': 'grouplevel', 'CATEGORY': 'category', 'YEAR_MONTH': 'year_month', 'BUDGET': 'amount'})[
['id', 'grouplevel', 'category', 'year_month', 'amount', 'source_file']].to_sql('budget', con=conn, if_exists='append', index=False)

636

In [24]:
df = read_sql_table_budget()

Tables created successfully.

In [25]:
df.tail()

                      GROUP          CATEGORY YEAR_MONTH  BUDGET
727  Leven en entertainment       Bibliotheek    2023-12    0.00
728  Leven en entertainment    Internet en TV    2023-12   56.16
729                  Overig       Beleggingen    2023-12    0.00
730                  Overig      Betaalpakket    2023-12    9.00
731                  Overig  Overige uitgaven    2023-12   50.00